{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <main>
    <!--- Bootstrap carousel copied from original project and added h3 and button to the shop now and discription --->
    <div class="main-section-1">
        <div id="carouselSlides" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">



                <button type="button" data-bs-target="#carouselSlides" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselSlides" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselSlides" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselSlides" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100"
                        src="https://res.cloudinary.com/dbwtdwgnt/image/upload/v1605841449/Rest%20of%20the%20site/winterprint_ft11zq.png"
                        alt="Stag prints first slide" />
                    <div class="carousel-caption">
                        <h3></h3>
                        <a href="" class="shopnow-button btn rounded-0 text-uppercase py-3">Shop now</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100"
                        src="https://res.cloudinary.com/dbwtdwgnt/image/upload/v1605841513/Rest%20of%20the%20site/paterns_a2wnev.png"
                        alt="Paterns second slide" />
                    <div class="carousel-caption">
                        <h3></h3>
                        <a href="" class="shopnow-button btn rounded-0 text-uppercase py-3">Shop now</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100"
                        src="https://res.cloudinary.com/dbwtdwgnt/image/upload/v1605841399/Rest%20of%20the%20site/leggings2_qgznzy.png"
                        alt="Leggings third slide" />
                    <div class="carousel-caption">
                        <h3></h3>
                        <a href="" class="shopnow-button btn rounded-0 text-uppercase py-3">Shop now</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100"
                        src="https://res.cloudinary.com/dbwtdwgnt/image/upload/v1605841458/Rest%20of%20the%20site/headbands_ysmsru.png"
                        alt=" Headbands fourth slide" />
                    <div class="carousel-caption">
                        <h3></h3>
                        <a href="" class="shopnow-button btn rounded-0 text-uppercase py-3">Shop now</a>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselSlides" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselSlides" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>
    </div>

  <!---------------6 shop images basic hrml was copied from my original project---------------------------->
  <div class="container-fluid" id="shop-container">
      <div class="row col-12" id="shop-alert">
          <div class="shop-alert-content col-12-copy-container">
              <h1>Shop by category</h1>
          </div>
      </div>

      <div class="container shop-container">
          <div class="row shop-banner col-12 ">
            {% for category in categories %}
              <div class="col-xl-2 col-md-4 col-6"> 
                  <a href="{{ category.get_absolute_url }}">
                      <div class="col-12-copy-container">
                          <img class="w-100 d-block" src="{{ category.image_url }}" alt="{{ category.name }}" />
                          <h2>{{ category.name }}</h2>
                      </div>
                  </a>
              </div>
              {% endfor %}
          </div>
      </div>


      <!-----------Our story and donation copied from the original project ------------>
      <div class="main-section-2">
          <div class="bg-image">
              <div class="container text-container">
                  <div class="row bg-text">
                      <h1>Our Story</h1>
                      <div class="col-12">
                          <p>
                              Established in 2018 and run by identical twins Emily and Victoria Bradley. Happy Whale is
                              a small UK business which specialises in children's clothing aged 0-6 years. We have
                              designed a range of
                              comfortable, easy wear clothing that is practical and perfect for your little ones as they
                              grow. Having worked as nannies for over 10 years we understand the need for durable
                              clothes that are also
                              stylish too. We use only the highest quality fabrics which are incredibly kind and
                              comfortable for babies and toddlers. All of our clothing is machine washable.
                          </p>
                      </div>
                      <h1>Our Mission</h1>
                      <div class="col-12">
                          <p>
                              Our recent travels motivated us to create a company that not only makes contemporary,
                              ethical clothing but will help towards saving our precious planet too. Plastic pollution
                              in the world’s oceans is
                              one of the biggest environmental issues of our time. Therefore, for every sale a donation
                              will be made to the Marine Conservation Society, helping to keep our marine animals and
                              whales happy for the
                              foreseeable future. We really hope you like what we do as much as we enjoy making it. x
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>

{% endblock %}