{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            <h1>Shopping Basket</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container container-fluid my-3">
    <div class="row">
        <div class="col">
            {% for unit in cart %}
            {% with item=unit.item %}
            <div data-index="{{item.id}}" class="row mb-4 border single-item">
                <div class="col-md-3 col-lg-2 order-md-first">
                    <img class="img-fluid mx-auto d-block" width="200px" alt="Responsive image"
                        src="{{ item.image_url }}">
                </div>
                <div class="col-md-5 col-12">
                    <h2 class="mb-o h-4">{{ item.name }}</h2>
                    <p id="subtotal">£ {{ unit.item_total }}</p>
                    <div>
                        <label for="select-size">Size</label>
                        <select class="form-select" id="select-size{{item.id}}">
                            <option value="none">{{unit.size}}</option>
                            <option value="0-3months">0-3 Months</option>
                            <option value="3-6months">3-6 Months</option>
                            <option value="6-9months">6-9 Months</option>
                            <option value="9-12months">9-12 Months</option>
                            <option value="12-24months">12-24 Months</option>
                            <option value="2years">2 Years</option>
                            <option value="3years">3 Years</option>
                            <option value="4years">4 Years</option>
                            <option value="5years">5 Years</option>
                            <option value="6years">6 Years</option>
                        </select>
                        <label for="select">Quantity</label>
                        <select class="form-select" id="select{{item.id}}">
                            <option selected>{{unit.quantity}}</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>

                        <button type="submit" id="update-button" data-index="{{item.id}}"
                            class="btn btn-secondary btn- update-button">Update basket</button>
                        <button type="submit" id="delete-button" data-index="{{item.id}}"
                            class="btn btn-secondary btn-sm delete-button">Delete</button>
                        <button type="submit" class="btn btn-secondary btn-sm" onClick="javascript:history.go(-1);">Keep
                            Shopping</button>
                    </div>
                    
                </div>
            </div>
            {% endwith %}
            {% endfor %}
            <div class="col-12">
                <div class="h-6 fw-bold">
                    <p>Cart Total: £</p>
                    <div id="total" class="d-inline-flex">{{cart.unit_total}}</div>
                </div>
            </div>
            <a role="button" class="btn btn-primary btn-lg" href='{% url "checkout:cart" %}' type="submit">Continue to checkout</a>
        </div>
    </div>
</div>


<script>
    $(document).on('click', '.delete-button', function (e) {
        e.preventDefault();
        var itmid = $(this).data('index');
        $.ajax({
            type: 'POST',
            url: '{% url "cart:cart_delete" %}',
            data: {
                itemid: $(this).data('index'),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function (cart) {
                $('.single-item[data-index="' + itmid + '"]').remove();
                document.getElementById("total").innerHTML = cart.total
                document.getElementById("cart-quantity").innerHTML = cart.quantity
            },
            error: function (xhr, errmsg, err) {}
        });
    })

    $(document).on('click', '.update-button', function (e) {
        e.preventDefault();
        var itmid = $(this).data('index');
        $.ajax({
            type: 'POST',
            url: '{% url "cart:cart_update" %}',
            data: {
                itemid: $(this).data('index'),
                itemquantity: $('#select' + itmid + ' option:selected').text(),
                itemsize: $('#select-size' + itmid + ' option:selected').text(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function (cart) {
                document.getElementById("total").innerHTML = cart.total
                document.getElementById("cart-quantity").innerHTML = cart.quantity
                
            },
            error: function (xhr, errmsg, err) {}
        });
    })
</script>

{% endblock %}
