{% load static %}

<!doctype html>
<html lang="en">

<head>

  {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Happy Whale {% block extra_title %}{% endblock %}</title>
</head>

<body>
  <div class="container-fluid navbar-fixed-top ">
    <div id-="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
        <a class="nav-brand" href="{% url 'home' %}"><img
            src="https://res.cloudinary.com/dbwtdwgnt/image/upload/v1605870152/Rest%20of%20the%20site/HW_logo_1_ss3d8h.jpg" /></a>

      </div>
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 ">
        <form method="GET" action="">
          <div class="imput-group w-100">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </div> 
          <div class="input-group-append">
          <button class="btn btn-outline-success" type="submit">
            <span searc-icon>
              <i class="fas fa-search"></i>
            </span>
          </button>
        </div> 
        </form>
      </div>
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 ">
      <div class="list-inline my-2 my-lg-0">
        <ul>
          <li class="list-inline-item">
            <a class="nav-link" href="#">
              <i class="fas fa-user fa-lg"></i>
            </a>
          </li>
          <li class="list-inline-item">
        <a class="nav-link" href="#">
          <i class="fas fa-shopping-basket fa-lg"></i>
        </a>
      </li>
      </ul>
      </div>
    </div>
    </div>
    <!---------------Nav bar Toggle Bootstrap copied from original project------------------>
    <div class="row bg-white">
    <nav class="navbar navbar-expand-lg  navbar-light header" id="header">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        {% include 'includes/main-nav.html' %}
      </div>
    </nav>
  </div>
  </div>

  {% if messages %}
  <div class="message-container"></div>
  {% endif %}

  {% block page_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block postloadjs %}
  {% endblock %}

  <footer>
    <div class="footer-container d-md-block">
      <div class="footer">
          <div class="footer-section footer-1">
              <h2>About Us</h2>
              <a href="#">Our Mission</a>
              <a href="shop.html">Shop</a>
              <a href="gallery.html">Reviews</a>
          </div>
          <div class="footer-section footer-2">
              <h2>Customer Info</h2>
              <a href="info.html">Shipping and Return Policy</a>
              <a href="info.html">Privicy Policy</a>
              <a href="info.html">Contact Us</a>
          </div>
          <div class="footer-signup-emil">
              <h2>Sign Up for Our Newsletter</h2>
              <input type="email" placeholder="Enter your email address" id="footer-email" required />
              <input type="submit" value="Sign Up" id="email-submit" />
          </div>
          <div class="social-media">
              <h2>Follow Us:</h2>
              <div class="socialmedia-icons">
                  <a href="https://www.facebook.com/happywhaleclothing/" target="_blank"><i class="fab fa-facebook-square"></i></a>
                  <a href="https://www.instagram.com/happywhaleclothing/?hl=en" target="_blank"><i class="fab fa-instagram-square"></i></a>
              </div>
          </div>
      </div>
      <div class="footer-copyright">
          @ Copyright 2020: happywhaleclothing.com
      </div>
  </div>
  </footer>
</body>

</html>