{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}


<!--- Template was copied from Bootstrap templates -->
<div class="row">
  <div class="col-md-4 order-md-2 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Edit Item</span>

    </h4>
    
    
    

    <div class="col-md-8 order-md-1">
        
        <div id="card-errors" class="a" role="alert"></div>
        <form class="form" id="upload-form" method="POST" action="" enctype="multipart/form-data">
          {% csrf_token %}
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
          {{ form|crispy }}
            <div class="text-right">
              <button type="submit" class="btn btn-secondary btn-sm" onClick="javascript:history.go(-1);">Cancel
                </button>
              <button id="upload_button" type="submit" class="btn btn-primary w-100 fw-bold">Save Changes</button>
            </div>
            </div>
        </form>
      </div>
    </div>


{% endblock %}