{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid main-shop-container">
    <div class="container shop-bg-container col-12">
        <div class="row shopimage-row col-12">
            <div class="col-md-6 col-12 top-shopimage">
                <img class="w-100 d-block" src="https://res.cloudinary.com/dbwtdwgnt/image/upload/v1605455705/models/563616D9-1ACA-4883-84FD-8EF51C7D74FB_bktw9f.jpg" alt="Happy babies montage" />
            </div>
            <div class="col-md-6 col-12 review-paragraph">
                <h2>Soft and safe fabrics</h2>
                <p>
                    We carefully select our fabrics to ensure they are kind to babies skin and gorgeously soft and comfortable for little legs. All of our fabrics are Öko-Tex Standard 100 certified ensuring they are chemically
                    safe for the whole family. All seams are overlocked inside for a quality finish .
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container shopitems-container">
        <div class="row">
            {% for item in items %}
            <div class="card col-lg-3 col-md-4 col-6">
                <img src="{{ item.image_url}}" class="card-img-top" alt="{{ item.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ item.price }} </li>
                    <li class="list-group-item">{{ item.review_rating }}</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">View Item</a>
                    
                </div>

            </div>
            {% endfor %}
        </div>
        
    </div>
</div>
</div>

{% endblock %}