{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div>
            img (carousel?)
        </div>
        <div>
            rating, name , starts and sizes 
        </div>
    <div>
        product description, review and delivery info with unordered list on the top which displayes the categories(do i have to change the models?)
    </div>
    </div>

</div>


{% endblock %}