{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="cointer container-fluid">
    <div class="row">
        <div class="col-md-7 col-12">
            <img class="img-fluid mx-auto d-block" width="200px" alt="Responsive image" src="{{ item.image_url }}">
        </div>
        <div class="col-md-5 col-12">
            <h2 class="mb-o h-4">{{ item.name }}</h2>
            <p>£ {{ item.price }}</p>
            <p>{{ item.review_rating }} /5</p>
            <div>
                <p>
                    {{ item.item_description }}
                    
                </p>
                <label for="greenstar">Select size:</label>
                <select name="greenstarleggings" id="greenstar">
                  <option value="none">Select</option>
                  <option value="0-3months">0-3 Months</option>
                  <option value="3-6months">3-6 Months</option>
                  <option value="6-9months">6-9 Months</option>
                  <option value="9-12months">9-12 Months</option>
                  <option value="12-24months">12-24 Months</option>
                  <option value="2years">2 Years</option>
                  <option value="3years">3 Years</option>
                  <option value="4years">4 Years</option>
                  <option value="5years">5 Years</option>
                  <option value="6years">6 Years</option>
                  <option value="specialsize">Special Size</option>
                </select>
                <!---Quantity button from Code Institute tuorial-->
                <div class="col-12">
                  <p class="mt-3"><strong>Quantity:</strong></p>
                  <div class="form-group w-50">
                      <div class="input-group">
                          <div class="input-group-prepend">
                              <button class="decrement-qty btn btn-black rounded-0" 
                                  data-item_id="{{ item.id }}" id="decrement-qty_{{ item.id }}">
                                  <span class="icon">
                                      <i class="fas fa-minus"></i>
                                  </span>
                              </button>
                          </div>
                          <input class="form-control qty_input" type="number"
                              name="quantity" value="1" min="1" max="99"
                              data-item_id="{{ item.id }}"
                              id="id_qty_{{ item.id }}">
                          <div class="input-group-append">
                              <button class="increment-qty btn btn-black rounded-0"
                                  data-item_id="{{ item.id }}" id="increment-qty_{{ item.id }}">
                                  <span class="icon">
                                      <i class="fas fa-plus"></i>
                                  </span>
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          <button type="submit" id="add-button" value={{item.id}} class="btn btn-secondary btn-sm">Add to basket</button>  
          <button type="submit" class="btn btn-secondary btn-sm" onClick="javascript:history.go(-1);">Keep Shopping</button> 
        </div>
        <div>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                      Accordion Item #1
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                      <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      Accordion Item #2
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                      <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                      Accordion Item #3
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                      <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>


{% endblock %}