{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}


<!--- Template was copied from Bootstrap templates -->
<div class="row">
  <div class="col-md-4 order-md-2 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Upload New Item</span>

    </h4>
    
    
    

    <div class="col-md-8 order-md-1">
        
        <div id="card-errors" class="a" role="alert"></div>
        <form class="form" id="upload-form" method="POST" action="{% url 'upload_item' %}" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
            <div class="text-right">
              <button type="submit" class="btn btn-secondary btn-sm" onClick="javascript:history.go(-1);">Cancel
                </button>
              <button id="upload_button" type="submit" class="btn btn-primary w-100 fw-bold">Upload Item</button>
            </div>
            </div>
        </form>
      </div>
    </div>
            
      
<script>

/*var form = document.getElementById('upload-form');

form.addEventListener('submit', function(ev) {
    ev.preventDefault();
    var category = document.getElementById("id_category").value;
    var sku = document.getElementById("id_sku").value;
    var slug = document.getElementById("id_slug").value;
    var name = document.getElementById("id_name").value;
    var item_description = document.getElementById("id_item_description").value; 
    var price = document.getElementById("id_price").value;
    var review_rating= document.getElementById("id_review_rating").value;
    var image_url= document.getElementById("id_image_url").src="item.image_url";
    $.ajax({
       type: 'POST',
        url: 'upload/',
        data: {
          category: category,
          sku: sku,
          slug: slug,
          name: name,
          item_description: item_description,
          price: price,
          review_rating: review_rating,
          image_url: image_url,

          csrfmiddlewaretoken: "{{csrf_token}}",
          action: 'post'
        },
            success: function (item) {
              window.location.href='/shop/'
              console.log('item uploaded')
            },
            error: function (xhr, errmsg, err) {}
        });
    })*/
</script>

{% endblock %}