{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}


<!--- Template was copied from Bootstrap templates -->
<div class="row">
  <div class="col-md-4 order-md-2 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Upload New Item</span>

    </h4>
    
    
    

    <div class="col-md-8 order-md-1">
        
        <div id="card-errors" class="a" role="alert"></div>
        <form id="payment-form" method="POST">
          {% csrf_token %}
            {{ form|crispy }}
            <div class="text-right">
                <a class="btn btn-primary w-100 fw-bold"> Cancel</a>
              <button id="submit" class="btn btn-primary w-100 fw-bold">Upload Item</button>
            </div>
            </div>
        </form>
      </div>
    </div>
            
      


{% endblock %}